*{
  box-sizing: border-box;
   margin: 0;
  padding: 0; 
}

body{
  min-width: 320px;
}

.bg-first{
  background-color: #FF914D;
}
.bg-second{
  background-color: #30c3cd;
}
.bg-third{
  background-color: #F3B800;
}
.bg-fourth{
  background-color:  #508104;
}
.bg-fifth{
  background-color:  #1D3D59;
}


#company-logo, #current-date{
  font-size: .90rem;
}
#current-date{
  color:#30C3CD;
}


div.hover-nav-icons a span{
  font-size: .70rem;
}
.nav-icons svg{
  fill:#FF914D;
}

.my-modal-body li:hover svg,  .my-modal-body li:focus svg, .my-modal-body li:active svg{
  fill: #1D3D59;
}
.hover-nav-icons:hover a svg,
.hover-nav-icons:focus a svg,
.hover-nav-icons:active a svg  
{
  fill:  #1D3D59;
}
nav div.nav-icons svg.hvr-grow:hover{
  width: 20px;
  height: 20px;
}
.no-glow{
  box-shadow:none !important; 
  outline:​0px !important; 
}
header nav input.no-glow:focus{
  border: 1px solid #FF914D;
}

.fixed-to-bottom{
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.modal-hide{
  top: 0;
  left: 0;
  width: 0%; 
  z-index: 2;
  overflow: auto; 
  position: fixed; 
}
.modal-show{
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s linear;
}
.modal-dialog-hide{
  width: 250px;
  height: 100%;
  /*overflow: auto;*/
  position: fixed;
  transition: width 0.3s linear; /*remove modal time*/
  background-color: #f7f7f7;
  transform: translate(-100%);
  transition: 0.5s;
}
.my-modal-content{
  height: 100%;
}
.modal-dialog-show{
  transform: translate(0);
  transition: 0.5s;
}
.my-modal-header h3{
  margin: 0;
}
.my-modal-header h3{
  font-size: 1.2rem;
  color: black;
  padding-bottom: 0px;
}
.my-modal-body{
  height: 100%;
}

.card-content{
  /*width: 170px;*/ /*the width is control in the js*/
  height: 80px; 
}

.section-heading{
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: .95rem;
  font-weight: bold;
  color:#1D3D59;
}


.action-btn-show{
  width: 45px;
  height: 45px;
  z-index: 1;
  right: 15px;
  bottom: 75px;
  position: fixed;
  fill: #1d3d59d0; 
  transition: height 0.4s;

}

.action-btn-hide{
  height: 0;
  transition: all 0.4s
}


/********* override bootstrap css*/
.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #e7f1ff00;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #a7a2a2a8; 
  outline: 0;
}